.postcard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.postcard-image-container {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postcard {
  width: 100%;
  height: auto;
  max-width: 1280px;
  max-height: auto;
}

.postcard-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.map {
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  height: auto;
}
.loading {
  margin-bottom: 2em;
}
